.defaultInput {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    background-color: #ffffff17;
    border: none;
    border-bottom: 1px solid #757575;
    outline:none;
    color:#ffffff;
}
.label {
    position: absolute;
    opacity: 0;
    color: #000000; 
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 20%;
    top: 40%;
    transition: 0.2s ease all;
    color: white;
} 

.inputSearch {
    width: 98%;
    font-size: 1.2vh;
    padding: 1vh 0px 1vh 2%;
    background-color: #ffffff17;
    border: none;
    border-bottom: 1px solid #757575;
    outline:none;
    color:#ffffff;
    position: relative;
}


@media (min-width: 768px) {
    .inputSearch {
        width: 98%;
        font-size: 1.5vw;
        padding: 1.5% 0 1.5% 2%;
    }
}
    
@media (min-width: 992px) {
    .inputSearch {
        font-size: 1.2vw;
        padding: 3% 0 3% 2%;
    }
}

@media (min-width: 1200px) {
    .inputSearch {
        font-size: .8vw;
    }
}
