$default: #fff;
$defaultTextColor: #222222;
$defaultSecondaryTextColor: #eee;
$black: black;

.comment {
    padding: 1.5%;
    padding-top: 5%;
    padding-left: 12%;
    margin: 1%;
    width: 95%;
    min-height: 36%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    color: $defaultTextColor;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba($default, 0.2);
    border-radius: 1%;
    position: relative;
    overflow: hidden;
    
    p {
        font-size: 2vw;
        line-height: 1.5;
        margin: 0;
        max-width: 80%;
        color: $default;
    }
    
    time {
        color: $default;
        font-size: 2vw;
        margin-top: 10px;
        display: block;
        font-weight: 200;
        opacity: 0.8;
    }
    
    &:before {
      font-family: Georgia, serif;
      content: "“";
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 5em;
      color: rgba($defaultSecondaryTextColor, 0.8);
      font-weight: normal;
    }
    
    &:after {
      font-family: Georgia, serif;
      content: "”";
      position: absolute;
      bottom: -110px;
      line-height: 100px;
      right: -32px;
      font-size: 25em;
      color: rgba($defaultSecondaryTextColor, 0.8);
      font-weight: normal;
    }
    
   
}

@media (min-width: 560px) {
    .comment {
        padding: 3%;
        padding-top: 4%;
        padding-left: 10%;
        min-height: 36%; 
    }
}
@media (min-width: 768px) {
    .comment {
        padding: 3%;
        padding-top: 4%;
        padding-left: 10%;
        min-height: 30%; 
    }
}
    
@media (min-width: 992px) {
    .comment {
        padding: 2%;
        padding-left: 6%;
        min-height: 36%; 

        p {
            font-size: 1rem;
        }
        time {
            font-size: 1rem;
        }
    }
}

@media (min-width: 1200px) {
    .comment {
        padding: 1.5%;
        padding-left: 5%;
        min-height: 36%;     
    }
}
