$purple: rgb(132, 0, 255);

.dialogModal {
    position: relative;
    margin: 0%;
    padding: 0;
    width: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: monospace;
    font-size: 1.5vh;
    color: #888;
}

.toggle__, 
.toggle__dialogForStatusBar,
.toggle__dialogForStatusBar__subtask,
.toggle__dialogForPriority {
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: -1;
    display: none;
}

.toggle__:checked ~ .dialog,
.toggle__dialogForStatusBar:checked ~ .dialogForStatusBar, 
.toggle__dialogForStatusBar__subtask:checked ~ .dialogForStatusBar__subtask,
.toggle__dialogForPriority:checked ~ .dialogForPriority {
    display: flex;
}

.toggle__:checked ~ .checkbox {
    color: $purple;
}

.toggle__dialogForStatusBar:checked ~ .checkbox {
    color: $purple;
}

.toggle__dialogForStatusBar__subtask:checked ~ .checkbox {
    rotate: -180deg;
    color: $purple;
}

.dialog {
    position: fixed;
    top: 21%;
    left: 27%;
    width: 50%;
    height: 18%;
    display: none;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 15px 15px 15px;
    border: 1px solid gray;
    font-size: 1.4vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    animation: appear 350ms ease-in 1;
    z-index: 4;

    .btn-checkbox {
        margin-left: 4%;
    }

    * {
        margin-left: 4%;
        margin-top: 3%;
    }

}

.dialogForStatusBar {
    position: absolute;
    margin-left: 3vw;
    display: none;
    border: none;
    justify-content: start;
    border-radius: 15px 15px 15px 0px;
    background-color: rgba(0, 0, 0, 0);
    animation: leftApper 150ms ease-in 1;

    .btn-delete {
        width: 100%;
    }
}

.dialogForStatusBar__subtask {
    position: absolute;
    width: 32vw;
    height: 2vh;
    margin-left: 1vw;
    font-size: 2vw;
    display: none;
    border: none;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0);
    animation: leftApper 150ms ease-in 1;
}

.dialogForPriority {
    position: absolute;
    margin-left: 1vw;
    display: none;
    border: none;
    border-radius: 15px 15px 15px 0px;
    background-color: rgba(0, 0, 0, 0);
    animation: leftApper 150ms ease-in 1;

    .btn-checkbox {
        margin: 0% 20%;
        border: 1px solid white;
        border-radius: 4px;
        
            &:hover {
                border: 1px solid rgba(0, 0, 0, 0);
                border-bottom: 1px solid $purple;
                box-shadow: none;
            }
    }
}
.taskText {
    padding: .1vw;
    font-size: 2vw;
    width: 90%;
    resize: none;
    outline: none;
    color: white;
    background-color: #ffffff2a;
    border: none;
    border-radius: 4px;
}

.checkbox {
    background: none;
    color: white;
    font-size: .8vh;
    border-radius: 4px;
    transition: .5s all;
    cursor: pointer;

    &:hover {
        color:$purple;
    }
}

.btn-checkbox {
    margin: 0 2%;
    padding: 2px;
    font-size: 1.2vh;
    outline: none;
    background-color: black;
    color:white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;

        &:hover {
            border: 1px solid $purple;
            color:$purple;
            box-shadow: 2px 2px 3px 0 rgba(132, 0, 255, 0.5); 
        }
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes underApper {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes leftApper {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
}

@media (max-height: 660px) {
    .checkbox {
        font-size: 1vh;
    }
}

@media (min-width: 525px) {
    .dialog {
        left: 24%;
    }
}
@media (min-width: 560px) {
    .dialog {
        height: 22%;
    }
}
@media (min-width: 768px) {
    .dialog {
        left: 18%;
        width: 33vw;
        height: 20vh;
        font-size: 1vw;
    }

    .taskText {
        font-size: 1.4vw;
    }

    .dialogForStatusBar__subtask {
        width: 31vw;
    }

    .checkbox {
        font-size: 1vh;
    }
} 
@media (min-width: 992px) {
    .dialog {
        top: 22%;
        left: 34%;
        width: 34%;
        height: 23%;
        font-size: 1.2vh;
    }

    .dialogForStatusBar__subtask {
        width: 22vw;
        margin-left: 1.2vw;
    }

    .taskText {
        font-size: 1.2vw;
    }

    .dialogForStatusBar__subtask {
        font-size: 1vw;
        width: 25vw;
    }
}
@media (min-width: 1200px) {
    .dialog {
        top: 22%;
        left: 28%;
        width: 28%;
        height: 28%;
        font-size: 1.2vh;

        * {
            margin-left: 4%;
            margin-top: 2%;
        }
    }
    
    .taskText {
        font-size: .8vw;
    }

    .dialogForStatusBar__subtask {
        font-size: 1vw;
    }
    .checkbox {
        font-size: 1.5vh;
    }
    
}
