.subtaskItem {
    margin: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: start;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 1.2vh;

    .subtaskContent {
        margin: 0 2.5%;
        width: 95%;
        font-size: 1.5vh;
        color: white;
    }

    span {
        width: 96%;
        margin: .6%;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            margin: .6%;
            font-size: 1vh;
            font-weight: 700;
            justify-content: start;
        }
    }

    time {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn-delete {
        margin: 0;
    }

}

@media (min-width: 768px) {
    .subtaskItem {
        font-size: 1vh;
    }
} 
@media (min-width: 992px) {
    .subtaskItem {
        font-size: 1vw;

        span {
            span {
                font-size: 1vw;
            }
        }
    }
}
@media (min-width: 1200px) {
    .subtaskItem {
        font-size: 1vh;

        span {
            span {
                font-size: .75vw;
            }
        }
        .subtaskContent {
            margin: 1% 2.5%;
            font-size: 1.2vw;
        }
    }
}
